{% extends "_base.html" %}
{% block bodyContent %}
    <a href="/administration/modules/" target="_self">Manage Modules</a> |
    <a href="/administration/articles/" target="_self">Manage Articles</a> |
    <a href="/administration/terms/" target="_self">Manage Terms</a> |
    <a href="/administration/users/" target="_self">Manage Users</a> |
    <a href="/administration/support/" target="_self">Support</a> |
    <a href="/administration/advanced/" target="_self">Advanced</a>
    {% block adminContent %}
    
    {% endblock %}

{% endblock %} 