{% extends "_base.html" %}
{% block bodyContent %}

{% if error %}
		<p>{{error}}</p>
{% else %}

<div class="oneColumn">
	<div class="header">About Wikitheoria</div>
	<p>
		Social science theories progress relatively slowly over time. 
		Some persist unchanged for decades. In sociology, the first PI's field, 
		it is commonplace to see "classical" theories used to justify contemporary 
		research, despite being virtually unchanged, unimproved and untestable 
		for more than a century. There are probably several reasons for this lack 
		of progress, but one of the most important is surely the absence of consensus 
		over how to construct and evaluate theories-how to distinguish "better" 
		theories and theory components from inferior ones. Markovsky (2008) surveyed 
		the faculty responsible for teaching required theory courses in the top fifty 
		sociology graduate programs. Those faculty expressed a wide range of mutually 
		contradictory attitudes toward science and theoretical rigor. Although most 
		respondents regarded theory as playing essentially the same role in sociology 
		as in science, what distinguishes sociology from the rest of science seems to be that
	<p>
	<blockquote>
	   ...most theory instructors in sociology feel it is sufficient to adopt an intuitive 
	   approach to the construction and analysis of theories. In more advanced scientific 
	   fields, students learn to express and evaluate theories via formal languages that 
	   lay bare the logic of their arguments and the interpretations of their terms-consistent 
	   with [standard practices]. In contrast, sociological theorizing is far more complex than, 
	   say, physics theorizing insofar as the structure of our discursive arguments and the 
	   quantity and connotations of our many terms. With theories so numerous and complex and 
	   a discipline ostensibly built on theoretical arguments and empirical validations, it is 
	   difficult to conceive of  any sound defense for the practice of relying so heavily on 
	   unchecked intuitions. (Markovsky 2008:238)
	</blockquote>
	<p>
	   Sociology lacks any consistent selection pressure to impel the development of broader, 
	   deeper and more empirically precise theories, and it shows. An exhaustive content analysis 
	   of over 450 articles in leading sociology journals found that a distressingly tiny 
	   percentage satisfy even minimal criteria for scientific theorizing, e.g., defining terms 
	   explicitly and making unambivalent testable claims (Dilks et al. 2006). This state of affairs 
	   poses a problem for sociology's advancement and limits the opportunities for having our 
	   threads woven into the fabric of science. The work that we will  propose below is intended 
	   to provide a system that fosters consistent and rational selection processes, thereby facilitating 
	   more efficient creation, modification, testing and application of theories. Its design will be 
	   attractive to a broad range and large number of users, regardless of prior training or experience 
	   with theory formalization.
	</p>
</div>



{% endif %}
{% endblock %}
