{% extends "_base.html" %}
{% block bodyContent %}
<script language="javascript" type="text/javascript">
function limitText(limitField, limitCount, limitNum) {
	if (limitField.value.length > limitNum) {
		limitField.value = limitField.value.substring(0, limitNum);
	} else {
		limitCount.value = limitNum - limitField.value.length;
	}
}
</script>

<div class="subHead"><h1>Edit Module: <a href="{{module_url}}" target="_self">{{module_title_general}}</a></h1></div>
<p>Note: Editing modules is still under development.  Please submit <a href="/feedback" target="_blank">feedback</a></p>
	
	<table>
		<tr><td class="title">Title: </td><td><input name="title" id="title" type="text" value="{{module_title_general}}" size="100" /></td></tr>
		<tr><td class="title">Key Words: </td>
			<td>
				<input id="keywords" name="keywords" type="text" value="" size="100" />
			</td>
		</tr>
	</table>
	<br />
		<form name="myform">
		<strong>Background / Metatheory:</strong>
		<font size="1">&nbsp;&nbsp;&nbsp;&nbsp;You have <input readonly type="text" name="countdown" size="3" value="500"> characters left.(Maximum characters: 500)</font>
			  <div id="wmd-button-bar" class="wmd-panel"></div>
		      <br/>
		      <textarea id="wmd-input" class="wmd-panel" name="limitedtextarea" onKeyDown="limitText(this.form.limitedtextarea,this.form.countdown,500);" 
onKeyUp="limitText(this.form.limitedtextarea,this.form.countdown,500);" cols="" rows="">{{module_meta_theory_general}}</textarea>
		      <br/>
		      Preview:
		      <div id="wmd-preview" class="wmd-panel"></div>
		      
		      <br/>
		</form>        
	<p class="title">Terms & Definitions: </p>	
	<table id="terms_new_module">	
		<tr><td>Note: Adding a term is a multi-step process. Add only the term then click add then choose or add a definition. We are working on making this process clearer.</td></tr>
		<tr>
			<td id="termBuilder">
			</td>
		</tr>
		<tr>
			<td id="termResults">
			</td>
		</tr>
		<tr>	
			<td>
			<ul id="termList">
				{% for term in terms %}
				<li><span class='term'>{{term.term.word}}</span> (<span class='termFunction'>{{term.definition.function}}</span>) - <span class='definition'>{{term.definition.definition}}</span> <button class='removeTerm'>X</button></li>
				{% endfor %}
			</ul>
			</td>
		</tr>
	</table>
		      

	<table>
		<tr><td class="title">Scope Conditions: </td>
		<td>
			<ol id="scope">
				{% for scope in module_scope_general %}
				<li><input class="scopeItem" value="{{scope}}" style="size: 100px;" /><button class='removeScope'>X</button></li>
				{% endfor %}
			</ol>
			<input type="button" value="Add Scope" onclick="addScope()" />
		</td></tr>
	</table>

	<table>
		<tr>
			<td class="title">Propositions:</td>
			<td>
				<ol id="proposition">
				{% for proposition in module_propositions_general %}
					<li><input class="propositionItem" value="{{proposition}}" style="size: 100px"/><button class='removeProposition'>X</button></li>
				{% endfor %}				
				</ol>
				<input type="button" value="Add Proposition" onclick="addProposition()") />
			</td>
		</tr>
		<!-- Not ready -->
		<tr>
			<td class="title">Derivations:</td>
			<td>
				<ol id="derivations">
					<li><input class="derivationItem" size="100px"/></li>
				</ol>
				<input type="button" value="Add Derivation" onclick="addDerivation()") />
			</td>
		</tr>
				
		<tr>
			<td class="title">Evidence:</td>
			<td>
				<textarea cols="59" id="evidence" name="evidence" rows="10"></textarea>
			</td>
		</tr>		

	</table>
	
	<br />
	<input name="uid" id="uid" type="hidden" value="{{module_uid}}"/>

{% if module_published %}
<div id="buttons">
<button name="btnSubmitModule" onclick="submitForm('true','edit')" value="Submit" id="submitBtn" disabled>Submit</button>
<button onclick="enableSubmit()">Ready?</button>
</div>
{% else %}
<div id="buttons">
<button name="btnSubmitModule" onclick="submitForm('false','edit')" value="Save" id="submitBtn" disabled>Save and Exit</button>
<button name="btnPublish" onclick="submitForm('true','edit')" value="Publish" id="publishBtn" disabled>Save and Publish</button>
<button onclick="enableSubmit()" id="readyBtn">Ready?</button>
</div>
{% endif %}
{% endblock %}