{% extends "_base.html" %}
{% block bodyContent %}

{% if error %}
		<p>{{error}}</p>
{% else %}
<br style="clear:both;" />
<div class="leftHelp">
	<div class="sectionTitle">Modules</div>
	<div class="sectionSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placeratLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placeratLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placeratLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placerat
	</div>
	<div class="sectionTitle">Articles</div>
	<div class="sectionSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placeratLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placeratLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placeratLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placerat
	</div>
	<div class="sectionTitle">Terms</div>
	<div class="sectionSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placeratLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placeratLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placeratLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placerat
	</div>
	<div class="sectionTitle">Users</div>
	<div class="sectionSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placeratLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placeratLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placeratLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placerat
	</div>
</div>

<div class="faq">
<li class="question">How do I create a new account?</li>
<li class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placerat</li>

<li class="question">Why is there more than one term definition?</li>
<li class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placerat</li>

<li class="question">How old am I?</li>
<li class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placerat</li>

<li class="question">Who made this site?</li>
<li class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum placerat</li>
</ul>

</div>
<br style="clear:both" />
{% endif %}
{% endblock %}